$color-primary: #48004b;
$color-secondary: #7f00b2;
$color-tertiary: #9921b8;
$color-warning: hsl(0, 44%, 61%) !default;

$background-color: #f3f6f9;
$font-family: 'Jost', sans-serif;
$font-size: 14px;
$font-color: hsl(210, 29%, 22%);
$font-color-light: #fff;

$header-height: 88px;

$workarea-background-color: #ffffff;
$workarea-min-height: calc(100vh - 136px);
